/* GENERAL STYLES */

:root {
    font-size: 16px;
}

body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

code {
    font-size: 0.75rem;
    color: #c7254e;
    background-color: #f9f2f4;
    padding: 0.25rem 0.4rem;
    margin: 0 0.25rem;
    border-radius: 0.25rem;
}

/* LAYOUT */

.grid-container {
    display: grid;
    height: 100%;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 5rem 1fr 4rem;
    grid-template-areas:
    "sidebar header"
    "sidebar main-content"
    "sidebar footer";
}

.sidebar {
    grid-area: sidebar;
    color: #0d0d0d;
    overflow: auto;
    background-color: #f2f2f2;
    border-right:1px solid #0d0d0d;
    /* add more styling as per your need */
}

.header {
    grid-area: header;
    background-color: #f2f2f2;
    padding: 1rem;
    /* add more styling as per your need */
}

.main-content {
    grid-area: main-content;
    background-color: #fff;
    overflow: auto;
    padding: 2rem;
    /* add more styling as per your need */
}

.footer {
    grid-area: footer;
    background-color: #f5f5f5;
    padding: 1rem;
    text-align: right;
    /* add more styling as per your need */
}

/* CUSTOM STYLES */

.sidebar-brand img {
    width: calc(100% - 2rem);
    padding: 2rem 1rem;
}

.complete {
    text-decoration: line-through;
}