/* GENERAL STYLES */

@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@1,500&family=Caveat:wght@600&family=Cormorant+Garamond:ital,wght@1,300&family=Roboto:wght@100&display=swap");

:root {
    font-size: 16px;
}

body {
    font-family: "Roboto";
    font-size: 25px;
}
body,
html {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

h2 {
    color: blue;
    padding: 0px;
    font-size: 20px;
    text-decoration: underline;
    margin: 0;
    font-weight: bold;
}
h1 {
    margin: 0px;
    background-color: #c7254e;
}

nav a {
    list-style-type: none;
    cursor: pointer;
    color: rgb(226, 16, 16);
    font-size: 30px;
    font-weight: bolder;
}
.nav-bar {
    list-style-type: none;
}
nav a:hover {
    background-color: rgb(36, 85, 191);
    color: #f8f6f6;
}
nav a:active {
    opacity: 0.4;
}

.crazy-margin p {
    margin: 100px 0px;
}
.crazy-margin p:first-child {
    margin: 0px;
}
.container {
    width: 500px;
    height: 280px;
}
img {
    width: 100%;
}

code {
    font-size: 0.75rem;
    color: #c7254e;
    background-color: #f9f2f4;
    padding: 0.25rem 0.4rem;
    margin: 0 0.25rem;
    border-radius: 0.25rem;
}

/* LAYOUT */

.grid-container {
    display: grid;
    height: 100%;
    grid-template-columns: 200px 1fr;
    grid-template-rows: auto 1fr 4rem;
    grid-template-areas:
        "header header"
        "sidebar main-content"
        "sidebar footer";
        /* to make the header the full width of the page i've changed the grid-template-areas in the .grid-container from "sidebar header' to " header header" and made sure the grid-area matched the correct grid-template area.*/

}

.content-container{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    padding-top: 10px;
    Gap:10px;

}

.item {
    border:black solid;
    padding: 10px;
    color:red;
    background-color: #e4cc17;
}
.wide {
    grid-column: span 2;
}
.tall{
    grid-row:span 2;
}
.big{
    grid-column: span 2;
    grid-row:span 2;
}
.hero{
    grid-column: span 3;
    grid-row:span 2;



}
.main-grid{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto 1fr 4rem;
}

.header {
    grid-area: header;
}

.sidebar {
    grid-area: sidebar;
    overflow: auto;
    color: #0d0d0d;
    background-color: #5c5858;
    border-right: 10px solid #0d0d0d;
}

h1 {
    grid-area: header;
    padding: 1rem;
    background-color: red;
}

.main-content {
    grid-area: main-content;
    background-color: #c8aeae;
    overflow: auto;
    padding: 2rem;
}

form {
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 500px;
}

.input-box {
    background: unset;
    border: unset;
    border-bottom: 2px solid;
}

button {
    color: rgb(253, 253, 255);
    background: radial-gradient(
        circle at center,
        rgba(255, 125, 125, 0) 0%,
        #af8da6 30%,
        #bc9292 100%
    );
    border: none;
    border-radius: 15px;
    height: 70px;
    width: 160px;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: rgb(226, 16, 16);
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(4, minmax(200px, 1fr));
    grid-gap: 1rem;
}

.image-container {
    position: relative;
    max-height: 200px;
    overflow: hidden;
    border: thin solid #999;
}

.image-container h2 {
    margin: 0.5rem;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.footer {
    grid-area: footer;
    background-color: #f5f5f5;
    padding: 1rem;
    text-align: right;
}

/* CUSTOM STYLES */

.sidebar-brand img {
    width: calc(100% - 2rem);
    padding: 2rem 1rem;
}
.complete {
    text-decoration: line-through;
}

.confirmed {
    color: rgb(68, 116, 68);
}

.youtube-container {
    width: 500px;
    height: 500px;
}

.task-card {
    background-color: #f5f5f5;
    padding: 1rem;
    margin: 1rem 0;
    border-left: 8px solid #dddddd;
    box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.21);
    font-size: 16px;
}

.task-card.complete {
    border-color: #625ffc;
}

.task-card.confirmed {
    border-color: #62fc5f;
    opacity: 0.5;
}

.task-card.new {
    border-color: #e4cc17;
}

.task-card .important {
    font-style: italic;
    color: #333;
    padding: 1rem;
    background: rgb(228, 186, 174);
}

.strikethrough {
    text-decoration: line-through;
}

#lightbox {
    position: fixed;
    top: 5rem;
    bottom: 5rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.75);
    display: none;
    overflow: hidden;
    border-radius: 0.5rem;
}

#lightbox img {
    width: auto;
    max-width: calc(100vw - 10rem);
}

#lightbox .close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    height: auto;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    background: #fff;
    color: #333;
    text-decoration: none;
    font-size: 2rem;
    line-height: 1;
    cursor: pointer;
    margin: 0;
    border-radius: 0.25rem;
    transition: all 0.15s ease;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
}

#lightbox .close:hover {
    background: #333;
    color: #fff;
}
