:root {
    font-size: 16px;
}

body {
    max-height: calc(100vh - 2rem);
    margin: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 1fr 100px;
    gap: 1rem;
    grid-template-areas:
        "header"
        "main"
        "footer";
    padding: 1rem;
}

.header {
    display: grid;
    grid-area: header;
    background-color: rgb(232, 247, 247);
    grid-template-columns: 100px auto;
    grid-template-rows: 1fr;
    grid-template-areas: "logo" "navigation";
}

.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

button {
    margin: 1rem;
    border-radius: 20px;
    height: 35px;
    background-image: radial-gradient(
        circle at 2.9% 7.7%,
        rgb(164, 14, 176) 0%,
        rgb(254, 249, 101) 110%
    );
    border: transparent;
}

.logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: fit-content;
    gap: 1rem;
    margin: 1rem;
    background-image: radial-gradient(
        circle at 2.9% 7.7%,
        rgb(164, 14, 176) 0%,
        rgb(254, 101, 101) 90%
    );
    color: transparent;
    font-weight: bolder;
    font-size: 30px;
}

div ul {
    display: flex;
    justify-content: flex-start;
    list-style-type: none;
    padding-left: 1rem;
    align-items: center;
    color: rgb(128, 128, 128);
}

li {
    margin: 10px;
}

.home {
    color: rgb(8, 10, 10);
}

.item {
    color: grey;
}

.main {
    grid-area: main;
    overflow-y: auto;
}

.container {
    max-width: 40ch;
    margin: 0 auto;
}

.footer {
    grid-area: footer;
}
