@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500&display=swap");

body {
    box-sizing: border-box;
    font-family: "DM Sans", sans-serif;
}

.container {
    width: 620px;
    max-width: 620px;
    margin: 0 auto;
    padding: 120px 1rem;
}

.logo {
}

.logo img {
    height: 150px;
    width: 150px;
}

h1 {
    font-weight: 400;
}

h2 {
    font-weight: 400;
    font-size: 1rem;
}

.content {
    margin-top: 100px;
    font-size: 1rem;
    font-weight: lighter;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin-bottom: 1.5rem;
}

li a {
    color: black;
}

@media all and (max-width: 700px) {
    .container {
        width: auto;
        padding: 30px 1rem;
    }
}
